body {
    margin: 0;
    font-family: "Poppins";
    background-color: #7C3AED;

}

.container {
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    width: 40%;
    margin: auto;
}
.container div p{
    background-color: #5B21B6;
    color: #FEF3C7;
    padding: 2rem;
}
.container div h3{
    font-size: 2rem;
}

.container div * {
    text-align: center;
    color: #EDE9FE;
}

.score-btn button{
    background-color: transparent;
    color: #EDE9FE;
    font-family: "Press Start 2P";
    padding: 0.5rem;
    border-radius: 4px;
    border-color: #EDE9FE;
}

.score{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
}
.last-p{
    text-align: center;
}